@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');
:root{
  --text-color: #b1bdb4;
  --black-secondary: #121417;
  --breakpoint-medium: 1224px;
  --breakpoint-small: 520px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--black-secondary);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1px;
  color: white;
  overflow-y: scroll;
  scrollbar-width: 0;
}
body::-webkit-scrollbar{
  width: 0px;
}
